@mixin text-style($font-family: 'Roboto', $font-weight: 400, $font-size: 13px, $color:#fff, $text-transform: normal, $font-style: normal){
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    color:$color;
    text-transform: $text-transform;
    font-style: $font-style;
}